body{
	margin:10px 15px;
	font: 12px Arial, Helvetica, sans-serif;
	background:#D3D3D3;
	text-align:center;
	}
#main {
	width:760px;	
	text-align:left;
	margin:0 auto;
	}
#header {	
	height:80px;
	background-color:#000000;
	}

#left {
	width:578px;
	background-color:#ffffff;
	float:left;
	}

#right {
	width:180px;
	background-color:#8b0000;
	float:right;
        color:#ffffff;
	}

#left * {
	padding: 0 8px;
	}

#right * {
	padding: 0 20px;
	}

#footer {	
	clear:both;
	height:20px;
	background-color:#000000;
	}
#content {
	width:278px;
	background-color:#ffffff;
	float:left;
        color:#000000;
	}

#extra {
	width:300px;
	background-color:#ffffff;
	float:right;
        color:#000000;
	}
#llogin {
	width:100px;
	float:right;
        color:#000000;
	}
